<div class="ranker-wrapper">
  <p class="rank"><%= "#{@results.index(result)+1}位" %></p>
  <%=image_tag "chara/#{Item.find(result.user.active_image).image_name}.png", class: "ranker-image"%>
  <p class="ranker-name"><%= result.user.name %></p>
  <p class="score">得点：<%=result.score%></p>
  <p class="score"><%="速度：#{result.speed}"%></p>
</div>