<center>
<div class="mypage-wrap">
  <h1 class="mypage-title">プロフィール編集</h1>
  <%= form_with model: @user,class: "form-wrap", url: user_path,method: "patch", local: true do |f| %>
    <div class="edit-forms">
      <div class="left-forms">
        <%if @image_name%>
        <div id="test">
          <%=image_tag "chara/#{@image_name}.png", class: "edit-item-image"%>
        </div>
        <% else %>
          <div class="edit-item-image">
            <a class="no-image">
              画像なし
            </a>
          </div>
        <% end %>
        <%#画像プルダウンメニュー%>
        <%if current_user.user_items.length != 0%>
          <div class="pulldown-manu">
            <%= f.select :active_image, @item_array, include_blank: "選択して下さい",class: "pulldown-manu" %>
          </div>
        <% end %>
      </div>
      <div class="right-forms">
        <div class="FormField">
          <div class="FormField__name">
            名前
          </div>
          <%= f.text_field :name, autofocus: true,class: "edit-form" %>
        </div>
        <div class="FormField">
          <div class="FormField__email">
            メールアドレス
          </div>
          <%= f.email_field :email ,class: "edit-form"%>
        </div>
        <div class="FormField">
          <div class="FormField__email">
            パスワード
          </div>
          <%= f.password_field :password ,class: "edit-form"%>
        </div>
      </div>
    </div>
    <%= f.submit "更新する",class: "edit-button" %>
  <%end%>
  <div class="links-wrapper">
    <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "links"%>
  </div>
<div>
</center>